
{{ if . }}
  {{ range .ByPublishDate }}
<li class="collection-item no-padding hoverable">
    <a href="{{ .Params.url|safeURL}}" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
          <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
              <span class="full-width black-text">A</span>
          </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline underline-on-hover">Play video games</h3>
            </div>
        </div>
    </a>
</li>
{{ end }}
{{ end }}
