{{ if . }}
<div class="row ">
  <div class="landing-event-row">
  {{ range .ByWeight }}
  <a href="#" class="landing-event-url secondary-color-text">
  <div class="col m12 l2 landing-event-box">
    <img src="{{ .Params.image }}" class="center-image landing-event-image">
      <h3 class="landing-event-title center-align white-text">{{ .Title }}</h3>
      <em><h4 class="white-text center-align landing-event-date">
      {{ .Params.date_string }}
    </h4><h4 class="white-text center-align landing-event-date">
      {{ .Params.location }}</h4></em>

      <div class="landing-event-tagline center-align">

      <p class="landing-event-tagline-text secondary-color-text">{{ .Params.tagline }}</p>

    </div>

  </div>
  </a>
  {{ end }}
</div>
</div>
<div class="row">
  <div class="col s6 l1 landing-mini-event left">
  </div>
  <div class="col s6 l1 landing-mini-event right">
  </div>
</div>
{{ end }}
