</div>
</div>
</main>
<footer class="page-footer {{ .Site.Params.primary }} lighten-4">
  {{ with .Site.GetPage "page" "footer/main.md" }}
         <div class="container">
           <div class="row center-align {{ .Site.Params.primaryText }} {{ .Site.Params.secondaryTextBrightness }}">
             {{ $Site := .Site }}
             {{ range .Params.icons }}
             {{ partial "icon_range" (dict "Site" $Site "Icon" . "URLClass" "social-media" "IconClass" "fa-lg") }}
             {{ end }}

           </div>
         </div>
         <div class="footer-copyright {{ .Site.Params.primaryText }} {{ .Site.Params.primaryTextBrightness }}">
           <div class="container">
           {{ .Params.copyright }}
           <a class="{{ .Site.Params.primaryText }} {{ .Site.Params.primaryTextBrightness }} right" href="#!">{{ .Params.slogan|markdownify }}</a>
           </div>
         </div>
     {{ end }}
       </footer>
<script src="/js/siema.min.js"></script>
<script src="/app.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/jquery.nanogallery2.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
$(document).ready(function() {
   $(".button-collapse").sideNav();
   $(".dropdown-button").dropdown({
   });
});
</script>
</body>
</html>
