<div class="modal contact-modal modal-fixed-footer" id="contact-modal">
<form class="" netlify name="contact" onsubmit="$('#contact-modal').modal('close');">
  <div class="modal-content">
    <h3 class="center-align">Contact Form</h3>

      <div class="row">
        <div class="input-field col s12">
          <label for="name" class="active">You Name</label>
          <input name="name" required>
        </div>
        <div class="input-field col s12">
          <label for="email" class="active">Your Email</label>
          <input type="email" name="email" required>
        </div>
        <div class="input-field col s12">
          <label for="subject" class="active">Subject</label>
          <input type="text" name="subject" required>
        </div>
        <div class="input-field col s12">
          <label for="message" class="active">Message</label>
          <textarea name="message" class="materialize-textarea" required></textarea>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <input type="submit" value="send" href="#!" class=" waves-effect waves-green btn-flat ">
  </div>
  </form>
</div>
</main>
<footer class="page-footer primary-color no-print z-depth-4">
  {{ with .Site.GetPage "page" "pages/footer.md" }}
         <div class="container">
           <div class="row center-align link-color">
             {{ range .Params.icons }}
             {{ partial "icon_range" (dict "Icon" . "Color" "primary-color" "TextColor"  "link-color" "BackgroundBrightness" "accent-2" "URLClass" "social-media" "IconClass" "fa-lg social-media-icon") }}
             {{ end }}

           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           <span>{{ .Params.copyright }}</span>
           <span class="context-text right">{{ .Params.slogan|markdownify }}</span>
           </div>
         </div>
     {{ end }}
 </footer>

<script src="/js/siema.min.js"></script>
<script src="/app.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/jquery.nanogallery2.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
$(document).ready(function() {
   $(".button-collapse").sideNav();
   $('.slider').slider();
   $(".default-children *").addClass("browser-default");
   $(".modal").modal({});
   {{ block "jquery" . }}
   {{ end}}
});
</script>
</body>
</html>
