</div>
</div>
</main>
<footer class="page-footer {{ .Site.Params.primaryColor }} lighten-4">
  {{ with .Site.GetPage "page" "footer/main.md" }}
         <div class="container">
           <div class="row center-align {{ .Site.Params.primaryColor }}-text text-darken-4">
             {{ $Site := .Site }}
             {{ range $p := .Params.icons }}
             <a href="{{ $p.url }}" class="social-media {{ $Site.Params.primaryColor }}-text text-darken-3" target="_blank"><i class="fa fa-{{ $p.icon }} {{ $Site.Params.primaryColor }} lighten-2" aria-hidden="true"></i></a>
             {{ end }}

           </div>
         </div>
         <div class="footer-copyright {{ .Site.Params.primaryColor }}-text text-darken-2">
           <div class="container">
           {{ .Params.copyright }}
           <a class="{{ .Site.Params.primaryColor }}-text text-darken-2 right" href="#!">{{ .Params.slogan|markdownify }}</a>
           </div>
         </div>
     {{ end }}
       </footer>
<script src="/js/siema.min.js"></script>
<script src="/app.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/jquery.nanogallery2.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
$(document).ready(function() {
   $(".button-collapse").sideNav();
   $(".dropdown-button").dropdown({
   });
});
</script>
</body>
</html>
