{{ if . }}
  {{ range $p := .ByPublishDate }}
    <div class="col s12 l6">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class='activator' src="{{ $p.Params.image | default "/img/default_announcement.jpeg"}}">

        </div>
        <div class="card-content {{ .Site.Params.primary }} {{ .Site.Params.primaryBrightness }}" style="height: 100%;">
          <span class="card-title activator {{ .Site.Params.primaryText }} {{ .Site.Params.primaryTextBrightness }}">{{ $p.Title }}
            <i class="material-icons right">more_vert</i></span>
          <a href="{{ $p.URL }}" class="{{ .Site.Params.secondaryText }} {{ .Site.Params.secondaryTextBrightness }}">Click Here For More Details</a>
        </div>
        {{ if isset $p.Params "icons" }}
        <div class="card-action {{ .Site.Params.primary }} {{ .Site.Params.primaryBrightness }} center-align">

          {{ $Site := .Site }}
          {{ range .Params.icons }}
          {{ partial "icon_range" (dict "Site" $Site "Icon" . "IconBrightness" "darken-4" "IconClass" "fa-lg") }}
          {{ end }}

        </div>
        {{ end }}
        <div class='card-reveal'>
          <span class="card-title {{ .Site.Params.primaryText }} {{ .Site.Params.secondaryTextBrightness }} title-stroke"><i class="material-icons right">close</i></span>
          {{ $p.Summary }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
