<header class="no-print">
  <nav class="primary-color">
    <div class="nav-wrapper">
      <style scoped>
      @media only screen and (max-width:992px){
          .brand-logo{
            font-size: 2.3vmax !important;
            text-overflow: ellipsis;
          }
        }
      </style>
      <a href="{{ .Site.BaseURL }}" class="brand-logo link-color truncate logo-padding ">{{ .Site.Title }}</a>
      {{ with .Site.Menus.main }}<a href="#" data-activates="mobile-sidebar" class="button-collapse"><i class="fa fa-bars fa-lg link-color text-darken-4"></i></a> {{ end }}
        <ul class="right hide-on-med-and-down">
          {{ with .Site.GetPage "page" "pages/sidebar.md" }}
          {{ if .Params.items }}
          <li><a class="dropdown-button link-color" data-hover="true" data-beloworigin="true" href="#!" data-activates="useful-links">Useful Links<i class="fa fa-caret-down right"></i></a></li>
          <ul id="useful-links" class="dropdown-content">
          {{ range $p := .Params.items }}
            <li><a href="{{$p.href|safeURL}}" class="primary-color-text "> {{ $p.title|title }} </a></li>
          {{ end }}
          </ul>
          {{ end }}
          {{ end }}
          {{ range $p := .Site.Menus.main }}
            {{ if $p.HasChildren }}
            <ul id="n{{.Identifier}}" class="dropdown-content">
              {{ range $c := $p.Children }}
              <li class="primary-color darken-4"><a href="{{$c.URL}}" class="link-color "> {{ $c.Name }} </a></li>
              {{ end }}
            </ul>
            <li><a class="dropdown-button link-color" data-hover="true" data-beloworigin="true" href="#!" data-activates="n{{$p.Identifier}}">{{ $p.Name }}<i class="fa fa-caret-down right"></i></a></li>
            {{ else }}
            <li><a href="{{$p.URL}}" class="link-color "> {{ $p.Name }} </a></li>
            {{ end }}
          {{end}}
        </ul>
        <ul class="side-nav" id="mobile-sidebar">
          {{ if (not .Pages) and .Section }}
            <li><a  href="../" class="primary-color-text ">Go Back</a></li>
          {{ end }}

          {{ range $p := .Site.Menus.main }}
          {{ if $p.HasChildren }}
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header primary-color-text ">{{$p.Name}}<i class="fa fa-caret-down"></i></a>
                <div class="collapsible-body">
                  <ul>
                    {{ range $c := $p.Children }}
                    <li><a href="{{$c.URL}}" class="primary-color-text "> {{ $c.Name }} </a></li>
                    {{ end }}
                    <li><div class="divider"></div></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          {{ else }}
          <li><a href="{{$p.URL}}" class="primary-color-text "> {{ $p.Name }} </a></li>
          {{ end }}
          {{end}}

          {{ with .Site.GetPage "page" "pages/sidebar.md" }}
          <li><div class="divider"></div></li>
          <li><a class="subheader">Useful Links</a></li>
          {{ range $p := .Params.items }}
            <li><a href="{{$p.href|safeURL}}" class="primary-color-text "> {{ $p.title|title }} </a></li>
          {{ end }}
          {{ end }}
          {{ with .Site.GetPage "section" "announcements" }}
          <li><div class="divider"></div></li>
          <li><a class="subheader">Recent Announcements</a></li>
          {{ range $p := .Pages }}
            <li><a href="{{$p.URL}}" class="primary-color-text "> {{ $p.Title }} </a></li>
          {{ end }}
          {{ end }}
        </ul>
    </div>
  </nav>
</header>
