<header class="no-print">
  <nav class="uk-navbar primary-color">
              <ul class="uk-navbar-nav uk-visible-large" style="width: 100%; height: 100%">
              <li class=""><a href="{{ .Site.BaseURL }}" class="uk-navbar-brand">{{ .Site.Title }}</a></li>
              {{ with .Site.GetPage "page" "pages/sidebar.md" }}
              {{ if .Params.items }}
              <li><a class="dropdown-button link-color" data-hover="true" data-beloworigin="true" href="#!" data-activates="useful-links">Useful Links<i class="fa fa-caret-down right"></i></a></li>
              <ul id="useful-links" class="dropdown-content">
              {{ range $p := .Params.items }}
                <li><a href="{{$p.href|safeURL}}" class="primary-color-text "> {{ $p.title|title }} </a></li>
              {{ end }}
              </ul>
              {{ end }}
              {{ end }}
              {{ range $p := .Site.Menus.main }}
                {{ if $p.HasChildren }}
                <li class="uk-parent" data-uk-dropdown><a>{{ $p.Name }}</a>
                  <div class="uk-dropdown uk-dropdown-navbar">
                    <ul id="n{{.Identifier}}" class="uk-nav uk-nav-navbar">
                      {{ range $c := $p.Children }}
                      <li {{ if in $p.Identifier "cta"}}class="cta"{{end}}><a href="{{$c.URL}}" class=""> {{ $c.Name }} </a></li>
                      {{ end }}
                    </ul>
                  </div></li>

                {{ else }}
                <li {{ if in $p.Identifier "cta"}}class="cta right"{{end}}><a href="{{$p.URL}}" class="{{ $p.Identifier}}" {{ if in $p.URL "modal" }} data-uk-modal="{center: true}" target="_blank" {{ end }}> {{ $p.Name }} </a></li>
                {{ end }}
              {{end}}
              </ul>

              <div class="uk-hidden-large uk-container uk-padding-remove">{{ if .Site.Menus.main }}<a href="#mobile-sidebar" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas></a>{{ end }}<a href="{{ .Site.BaseURL }}" class="uk-navbar-brand uk-navbar-center">{{ .Site.Title }}</a></div>

        <div id="mobile-sidebar" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav id="">

                {{ range $p := .Site.Menus.main }}
                {{ if $p.HasChildren }}
                <li class="uk-parent ">
                  <a href="#" class="primary-color-text ">{{$p.Name}}</a>
                  <ul class="uk-nav-sub">
                    {{ range $c := $p.Children }}
                    <li><a href="{{$c.URL}}" class="primary-color-text "> {{ $c.Name }} </a></li>
                    {{ end }}
                  </ul>
                </li>
                {{ else }}
                <li><a href="{{$p.URL}}" class="primary-color-text "> {{ $p.Name }} </a></li>
                {{ end }}
                {{end}}

                {{ with .Site.GetPage "page" "pages/sidebar.md" }}
                {{ if .Params.items }}
                {{ if .Site.Menus.main }}
                <li class="uk-nav-divider"></li>
                {{ end }}

                <li class="uk-nav-header">Useful Links</li>
                {{ range $p := .Params.items }}
                  <li><a href="{{$p.href|safeURL}}" class="primary-color-text "> {{ $p.title|title }} </a></li>
                {{ end }}
                {{ end }}
                {{ end }}
                {{ with .Site.GetPage "section" "announcements" }}
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header">Recent Announcements</li>
                {{ range $p := .Pages }}
                  <li><a href="{{$p.URL}}" class="primary-color-text "> {{ $p.Title }} </a></li>
                {{ end }}
                {{ end }}
              </ul>
          </div>
        </div>
  </nav>
</header>
