ul.faq{

  li {
    font-size: 2em;
  }
  ul > li {
    font-size: 1em;
    margin-left: 2em;
    list-style-type: disc;
  }
}

.rounded{
  border-radius: 5px;
}


.social-media > i {
  padding: 0.75em;
  border-width: thin;
  border: none;
  border-radius: 1em;
}

.title-stroke{
  font-weight: 900 !important;
  -webkit-text-stroke: 1px black;
}

.center-image{
  margin-left: auto;
  margin-right: auto;
}
