{{ partial "header" . }}
{{ define "title"}}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

<div class="page uk-container uk-container-center">
  <div class="row" style="position: relative;">
    <a href="../" class="back-arrow"><i class="fas fa-arrow-left fa-3x"></i></a>
  </div>
  {{ if .Title }}<h1><i id="playButton" onclick="togglePlay()" title="Play/Pause Music" class="fas fa-play"></i> {{ .Title }}&nbsp;<i title="Restart Song" onclick="resetAudio()" id="exciteButton" class="fas fa-question"></i></h1>{{ end }}

  {{ if .Params.icons }}
  <div class="row center-align ">
    {{ range .Params.icons }}
    {{ partial "icon_range" (dict "Icon" . "IconBrightness" "darken-4" "IconClass" "fa-fw fa-lg social-media-icon" "URLClass" "social-media-row primary-color") }}
    {{ end }}
  </div>
  {{ end }}

  {{ if eq .Dir "pages/" }}
  {{ if .Content }}
  <div class="{{ .Section | urlize }}">
  {{ .Content }}
  </div>
  {{ end }}
  {{ else }}
  <div class="header-image">
    <img class="center-image {{ .Section |urlize }}" src="{{ .Params.image | default "/img/default_announcement.jpeg"}}">
  </div>
  {{ if .Content }}
  <div class="{{ .Section | urlize }}">
  {{ .Content }}
  </div>
  {{ end }}
  {{ end }}


<audio id="playSource" src="{{ .Params.audio | default "/img/uploads/bands/songs/candy.mp3"}}" />
</div>

<script type="text/javascript">

  {{ define "jquery" }}
    $("#exciteButton").hover(function(){
      if(!toggleExciteSwitch){

        toggleExcite();
        $("#exciteButton").toggleClass("fa-sync");
        toggleExciteSwitch = true;
      }


    }, function() {
      if(toggleExciteSwitch){
        toggleExcite();
        $("#exciteButton").toggleClass("fa-sync");
        toggleExciteSwitch = false;
      }

    });
    {{ end }}

  var toggleExciteSwitch = false;

  var audioSource = document.getElementById('playSource');
  var togglePlay = function(e){
    $("#playButton").toggleClass("fa-play");
    $("#playButton").toggleClass("fa-pause");
    $("#exciteButton").toggleClass("fa-question");
    $("#exciteButton").toggleClass("fa-exclamation");
    if(audioSource.paused){
      audioSource.play();
    } else{
      audioSource.pause();
    }
  };

  var toggleExcite = function(){
    if(audioSource.paused){
      $("#exciteButton").toggleClass("fa-question");
    } else{
      $("#exciteButton").toggleClass("fa-exclamation");
    }
  };

  var resetAudio = function(){
    audioSource.currentTime = 0;
  }


</script>

{{ partial "footer" . }}
