{{ partial "header" . }}

<div class="page uk-container uk-container-center">
  {{ if .Title }}<h1><i id="playButton" onclick="togglePlay()" class="fas fa-play"></i> {{ .Title }}&nbsp;<i class="fas fa-question"></i></h1>{{ end }}

  {{ if .Params.icons }}
  <div class="row center-align ">
    {{ range .Params.icons }}
    {{ partial "icon_range" (dict "Icon" . "IconBrightness" "darken-4" "IconClass" "fa-fw fa-lg social-media-icon" "URLClass" "social-media-row primary-color") }}
    {{ end }}
  </div>
  {{ end }}

  {{ if eq .Dir "pages/" }}
  {{ if .Content }}
  <div class="{{ .Section | urlize }}">
  {{ .Content }}
  </div>
  {{ end }}
  {{ else }}
  <div class="header-image">
    <img class="center-image {{ .Section |urlize }}" src="{{ .Params.image | default "/img/default_announcement.jpeg"}}">
  </div>
  {{ if .Content }}
  <div class="{{ .Section | urlize }}">
  {{ .Content }}
  </div>
  {{ end }}
  {{ end }}


<audio id="playSource" src="/img/uploads/bands/songs/candy.mp3" />
</div>

<script>
  var audioSource = document.getElementById('playSource');
  var togglePlay = function(e){
    $("#playButton").toggleClass("fa-play");
    $("#playButton").toggleClass("fa-pause");
    if(audioSource.paused){
      audioSource.play();
    } else{
      audioSource.pause();
    }
  };
</script>

{{ partial "footer" . }}
