{{ partial "header" . }}

<div class="content container {{ .Title }} {{ .Section | urlize }}">
  <div class="row">
  {{ range $p := .Pages}}
  <div class="col s12 l6">
    <a href="{{ $p.URL }}">
    <div class="card small">
      <div class="card-image">

    {{ if $p.Params.image }}
    <img class="center" src="{{ $p.Params.image }}" width="450px" height="225px" alt="{{ $p.Title }}">
    {{ else }}
    <img class="center"src="http://via.placeholder.com/450x225" alt="{{ $p.Title }}">
    {{ end }}
    <span class="card-title" style="-webkit-text-stroke: 0.75px black;">{{ $p.Title }}</span>

</div>
<div class="card-content grey lighten-3" style="height: 100%;">
  {{ if $p.Params.overview }}
  {{ $p.Params.overview|markdownify }}
  {{ end }}
</div>

</div>
</a>
</div>
  {{ end }}
  </div>
</div>

{{ partial "footer" . }}
