{{ partial "header" . }}

<div class="container bg-container pad-vertical {{ .Title }} {{ .Section | urlize }}">
  <h1 class="center-align secondary-color-text black-outline ">404: Page not found</h1>
  <div class="hoverable rounded partial-transparency container">
      <div class="flow-text context-text tertiary-color-text">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a class="underline" href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</div>
  </div>
</div>

{{ partial "footer" . }}
