{{ partial "header" . }}

<div id="mainContainer1" class="container partial-transparency no-padding bg-pink_rice" style="margin-top: 2em; margin-bottom: 2em;">

  <div class="row auto-margin-horizontal">

    <div class="col s12">
      <img class="center-image medium-image" src="/img/logo.png"/>
    </div>
    <div class="col same-height border s12 m6 black-outline center-align valign-wrapper">

      <h3 class="white-text full-width">August 10-12, 2018<h3>
    </div>
    <div class="col same-height border s12 m6 black-outline center-align valign-wrapper">
        <h3 class="white-text full-width">Santa Clara Hyatt Regency</h3>
    </div>

  </div>
  <div class="row  center auto-margin-horizontal">
    <h2 class="secondary-color-text black-outline underline">> You see a Fwestival standing in front of you. What do you do?</h2>
  </div>
  <ul class="collection options">


<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">A</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Play video games</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">B</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Rock out!</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">C</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Tabletop 'til dawn</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">D</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Attend a panel</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">E</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Volunteer</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">F</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Buy your badge</h3>
            </div>
        </div>
    </a>
</li>

<li class="collection-item no-padding hoverable">
    <a href="#" class="option-color underline-on-hover-all">
        <div class="row no-margin full-height">
            <div class="col s1 border black-border center full-height valign-wrapper auto-margin-horizontal no-padding">
                <span class="full-width black-text">G</span>
            </div>

            <div class="col s11 full-height valign-wrapper">
                <h3 class="secondary-color-text black-outline">Book your hotel room</h3>
            </div>
        </div>
    </a>
</li>

  </ul>

</div>

<!--<div class="content container">
  <div class="row">
    <div class="col s12 m6">
      {{ .Content }}
    </div>
    <div class="col s12 m6">
      <img src="/img/uploads/profile_picture.png">
    </div>
  </div>
</div>-->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer" . }}
