{{ partial "header" . }}

<div id="mainContainer1" class="container partial-transparency">
  <div class="row">
    <div class="col s12 secondary-color-text content-text">
      {{ .Content }}
    </div>
    {{ with .Site.GetPage "section" "announcements" }}
    <div class="col s12">
      <div class="row">
        <div class="col s12">
          <h2 class="secondary-color-text black-outline center-align">Announcements</h2>
        </div>
        <div class="col s12">
          {{ partial "collapsible" .Pages }}
        </div>
    </div>
  </div>
    {{ end }}
  </div>

</div>

<!--<div class="content container">
  <div class="row">
    <div class="col s12 m6">
      {{ .Content }}
    </div>
    <div class="col s12 m6">
      <img src="/img/uploads/profile_picture.png">
    </div>
  </div>
</div>-->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer" . }}
