.darkness{
  background-image: url(/img/patterns/darkness.png);
}

.bg-tree_bark{
  background-image: url(/img/patterns/tree_bark.png);
}

.bg-congruent_pentagon{
  background-image: url(/img/patterns/congruent_pentagon.png);
}

.bg-green_cup{
  background-image: url(/img/patterns/green_cup.png);
}

.bg-wild_flowers{
  background-image: url(/img/patterns/wild_flowers.png);
}

.bg-skulls{
  background-image: url(/img/patterns/skulls.png);
}

.bg-sandpaper{
  background-image: url(/img/patterns/sandpaper.png);
}

.bg-small_steps{
  background-image: url(/img/patterns/small_steps.png);
}

.bg-binding-dark{
  background-image: url(/img/patterns/binding_dark.png);
}
.bg-binding-dark-2x{
  background-image: url(/img/patterns/binding_dark_@2X.png);
}

.bg-triangular{
  background-image: url(/img/patterns/triangular.png);
}
.bg-triangular-2x{
  background-image: url(/img/patterns/triangular_@2X.png);
}

.bg-dimension{
  background-image: url(/img/patterns/dimension.png);
}
.bg-dimension-2x{
  background-image: url(/img/patterns/dimension_@2X.png);
}

.bg-notebook{
  background-image: url(/img/patterns/notebook.png);
}
.bg-notebook-2x{
  background-image: url(/img/patterns/notebook_@2X.png);
}

.bg-stardust{
  background-image: url(/img/patterns/stardust.png);
}
.bg-stardust-2x{
  background-image: url(/img/patterns/stardust_@2X.png);
}

.bg-squared_metal{
  background-image: url(/img/patterns/squared_metal.png);
}
.bg-squared_metal-2x{
  background-image: url(/img/patterns/squared_metal_@2X.png);
}

.bg-ps_neutral{
  background-image: url(/img/patterns/ps_neutral.png);
}
.bg-ps_neutral-2x{
  background-image: url(/img/patterns/ps_neutral_@2X.png);
}

.bg-witewall_3{
  background-image: url(/img/patterns/witewall_3.png);
}
.bg-witewall_3-2x{
  background-image: url(/img/patterns/witewall_3_@2X.png);
}

.bg-pixel_weave{
  background-image: url(/img/patterns/pixel_weave.png);
}
.bg-pixel_weave-2x{
  background-image: url(/img/patterns/pixel_weave_@2X.png);
}
