@import "./node_modules/materialize-css/sass/materialize.scss";
@import "text.scss";
$primary-color: color("red", "darken-2");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("indigo", "darken-2");
$secondary-color-text: color("grey", "darken-4");
$success-color: color("green", "base");
$error-color: color("red", "base");
$tertiary-color: color("grey", "darken-1");

  $link-color: color("grey", "lighten-3");

.primary-color {
  @extend .red, .darken-2
}

.secondary-color {
  @extend .indigo, .darken-2
}

.tertiary-color {
  @extend .amber, .lighten-3
}

.primary-color-text {
  @extend .blue-grey-text, .text-lighten-4
}

.secondary-color-text {
  @extend .white-text, .text-darken-4
}

.tertiary-color-text{
  @extend .white-text, .text-darken-3
}

.body-container{
  @extend .grey, .lighten-1
}

.partial-transparency{
    background-color: rgba($secondary-color, 0.8);
}

.content-text > *{
  @extend .primary-color-text
}

.link-color-disabled{
  @extend .white-text, .text-lighten-3
}

.link-color{
  @extend .white-text, .text-lighten-3;
}


.link-color:hover{
  color: lighten($secondary-color-text, 10%) !important;
}

.option-color{
  @extend .black-text, .text-lighten-3;
}


.option-color:hover{
  color: lighten($secondary-color-text, 100%) !important;
}

.link-color-disabled:hover{
  color: lighten(red, 30%) !important;
}

.link-secondary-color{
  color: $secondary-color-text;
}

.link-secondary-color:hover{
  color: lighten($secondary-color-text, 15%) !important;
}
