@import "colors.scss";

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.same-height{
  height: 150px;
}

.no-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-horizontal{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-vertical{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top{
  margin-top: 0 !important;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}


.auto-margin-horizontal{
  margin-left: auto !important;
  margin-right: auto !important;
}

.pad-vertical{
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.scrollable-x{
  overflow-x: scroll;
}

.small-image{
  width: 250px;
  height: auto;

}
.medium-image{
  width: 500px;
  height: auto;

}

.collection.options > .collection-item {
  height: 5em;
  @extend .transparent;
}
div.social-media-row{
  margin-top: -6em;
}

.social-media > i {
  padding: 0.75em;
  border-width: thin;
  border: none;
  border-radius: 1em;
}

a.social-media-row > i{
  border-width: thin;
  border: none;

}

a.social-media-row{
  padding: 0.5em;
  border-radius: 0.25em;
  :hover{
    color: darken($primary-color, 50%);
  }
}

img.gallery{
  max-height: 300px;
  min-height: 300px;
  width: auto;
}

.content *{
  font-weight: 800;
}

.brand-logo {
  font-size: 2.5em !important;
  font-family: "Oswald", Arial !important;
  text-decoration: none;

}

.nav-wrapper *{
  font-size: 1.2rem;
  font-family: "Oswald";
}

nav .button-collapse i{
  line-height: .75em !important;
}

.page-footer *, .context-text *, body *{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.context-text ul > li {
  list-style-type: square !important;
  list-style-position: outside;

}

.contact-button{
  :hover{
    @extend .secondary-color-text;
  }
}

.context-text p{
  font-size: 1.55rem;
}


.content.pages {
  text-align: center;
}
.social-media-icon:hover{
  color: darken($secondary-color, 25%);
}


a{
  @extend .link-secondary-color
}
.modal-footer > span {
  font-size: 1.5em;
}
