@font-face {
font-family: "Disco";
src: url("/fonts/DISCO.ttf");
}

@font-face {
font-family: "Caviar Dreams";
src: url("/fonts/CaviarDreams.ttf");
}

@font-face {
font-family: "Caviar Dreams Bold";
src: url("/fonts/CaviarDreams_Bold.ttf");
}

@font-face {
font-family: "Existence Light";
src: url("/fonts/Existence-Light.otf");
}

@font-face{
  font-family: "Daniel";
  src: url("/fonts/daniel.ttf");
}

@font-face{
  font-family: "Daniel Bold";
  src: url("/fonts/danielbd.ttf");
}

@font-face{
  font-family: "Daniel Black";
  src: url("/fonts/Daniel-Black.otf");
}

@font-face{
  font-family: "Slaytanic";
  src: url("/fonts/Slaytanic.ttf");
}

@font-face{
  font-family: "Shoguns Clan";
  src: url("/fonts/shogunsclan.ttf");
}

@font-face{
  font-family: "Archistico Bold";
  src: url("/fonts/Archistico_Bold.ttf");
}

@font-face{
  font-family: "Archistico Simple";
  src: url("/fonts/Archistico_Simple.ttf");
}

@font-face{
  font-family: "Chispa";
  src: url("/fonts/Chispa.otf");
}

@font-face{
  font-family: "Oswald";
  src: url("/fonts/oswald/Oswald-Regular.ttf");
}

@font-face{
  font-family: "Oswald Light";
  src: url("/fonts/oswald/Oswald-Light.ttf");
}
