$body-color: black;
$option-color: #fae3fd;

#index {
  text-align: center;
  font-size: 2em;
  color: $body-color;
  background-color: rgba(234,222,221, 0.8);
  margin-top: 2em;
  margin-bottom: 2em;
}

#index > div {
  padding: 10px;
}

#index h2 {
  margin: 0;
}

#index a {
  color: blueviolet;
  text-decoration: underline;
}

#index button a {
  color: $body-color;
  text-decoration: none;
}

.logo {
  img {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin: 0 auto;
  }
}

.action-text {
  padding: 0 10px;
}

.cta button {
  background-color: #f9c8d9;
  box-shadow: 3px 3px 4px black;
  border: black 1px solid;
  margin: 5px;
}

.options {
  text-align: left;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 10px;

details:hover{
  cursor: pointer;
}

  details {
    margin-left: 3em;
    width: 85%;
    background-image: url(/img/patterns/hearts-seamless-backgrounds-07-150x150.jpg);
    // background-size: contain;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
  }

  details > summary {
    padding: 2px 6px;
    border: none;
    box-shadow: 3px 3px 4px black;
  }

  details[open] > summary {
    box-shadow: none;
  //  outline: 0 !important;
  }

  details[open] > summary:focus {
    outline: 0 !important;
  }

  details > p {
    border-radius: 0 0 10px 10px;
    padding: 2px 6px;
    margin: 0;
    box-shadow: 3px 3px 4px black;
  }
}

.explainer {
  font-size: smaller;

  strong {
    font-weight: bolder;
  }
}
