.black-outline{
  -webkit-text-stroke-width: 1.65px;
  -webkit-text-stroke-color: black;
}

.thin-outline{
  -webkit-text-stroke-width: 0.85px !important;
}

.regular-outline{
  -webkit-text-stroke-width: 1px !important;
}

.thick-outline{
  -webkit-text-stroke-width: 2px !important;
}

.outline-children > *{
  @extend .black-outline, .thin-outline
}

.underline{
  text-decoration: underline;
}
